@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&display=swap");

@font-face {
  font-family: "gameria";
  src: url("./fonts/gameria.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "zillmu";
  src: url("./fonts/ZillMU.ttf");
  font-weight: normal;
}

:root{
  --color1: #012A4A;
  --color2: #013A63;
  --color3: #01497C;
  --color4: #014F86;
  --color5: #2A6F97;
  --color6: #2C7DA0;
  --color7: #468FAF;
  --color8: #61A5C2;
  --color9: #89C2D9;
  --color10: #A9D6E5;
  --color11: #cae9ff;
  --color12: #FFC107;
  --color13: #AF1763;
  --color14: #0DCAF0;
}

* {
  box-sizing: border-box;
  font-family: "zillmu";
  font-size: 1em;
  font-weight: 500;
  color: var(--color11);
}

html, body {
  background-color: var(--color1);
  margin: 0;
}

body{
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 100px auto 30px;
  width: 100dvw;
  height: 100dvh;
  
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-image: url("./images/bg.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

button {
  background-color: transparent;
  border: 3px solid var(--color10);
  cursor: pointer;
  padding: 10px 20px;
}

.homeBtn{
  position: absolute;
  top: 10px;
  right: 10px;
  width: fit-content;
  height: fit-content;
  z-index: 1;
}

.homeBtn img{
  width: 30px;
}

.homeBtn img:hover{
  filter: invert(0.3);
  transition: all 0.5s ease;
}

button:hover {
  background-color: var(--color10);
  color: var(--color1);
  transition: all 0.5s ease;
}

button:active {
  font-size: 0.9em;
  transition: none;
}

#header{
  display: grid;
  justify-items: center;
  z-index: 1;
}

h1{
  font-family: gameria, sans-serif;
  font-size: 4em;
  padding: 0;
  padding-top: 10px;
  margin: 0;
  margin-top: 5px;
  cursor: pointer;
}

.battleStatus {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-family: "Orbitron";
  font-weight: 500;
}

#content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

#container h3{
  font-family: gameria, sans-serif;
  font-size: 3em;
  margin: 10px 0 0 0;
}

.newGameContainer{
  width: 80dvw;
  height: 50dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newGameContainer h2{
  font-family: gameria, sans-serif;
  font-size: 3em;
  margin: 0;
  margin-bottom: 20px;
}

.newGameBtn{
  font-size: 1.8em;
  width: 200px;
  margin: 20px 20px;
}

.newGameBtnContainer{
  display:flex;
  flex-direction: column;
}

.board-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.heading {
  font-size: 2.5rem;
}

.human-board, .computer-board {
  width: 70dvw;
  height: auto;
  aspect-ratio: 1/1;
  max-width: 500px;
  max-height: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr); 
  grid-template-rows: repeat(10, 1fr); 
  border: 1px solid #00ddff;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

.board-cell {
  width: 7dvw;
  height: auto; 
  aspect-ratio: 1/1;
  max-width: 50px;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #00ddff20;
  cursor: pointer;
}

.cell-occupied {
  background-color: var(--color9); 
}

.cell-hit {
  background-color: red;
}

.cell-miss {
  background-color: var(--color1);
}

.computer-board .board-cell.cell-occupied {
  background-color: transparent;
}

.buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

/* Modal content */
.modal {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 20px;
  width: 400px;
  text-align: center;
}

.modal p {
  font-size: 2em;
  margin-bottom: 20px;
}

.modal button {
  margin: 10px;
  cursor: pointer;
}

.ship-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  width: 250px;
}

.ship-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.ship {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-right: 8px;
  cursor: grab;
}

.ship-cell {
  width: 7dvw; 
  height: auto;
  aspect-ratio: 1/1;
  max-width: 50px;
  max-height: 50px;
  background-color: var(--color9); 
  border: none;
}

.ship.dragging {
  opacity: 0.5;
}

#footer {
  font-family: "lato";
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
  z-index: 9;
}
#footer a{
  font-family: "lato";
}
#footer a:link { 
  text-decoration: none; 
} 
#footer a:visited { 
  text-decoration: none; 
} 
#footer a:hover { 
  text-decoration: none; 
} 
#footer a:active { 
  text-decoration: none; 
}

@media only screen and (min-width: 800px) {
  h1{
    padding-top: 0;
    font-size: 7em;
  }
  #container {
    grid-auto-flow: column;
  }
  .newGameBtnContainer{
    display:flex;
    flex-direction: row;
  }
  .board-container {
    flex-direction: row;
    gap: 40px;
  }
  .human-board, .computer-board {
    width: 40dvw;
  }
  .board-cell, .ship-cell {
    width: 4dvw;
  }
}