@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
  font-family: 'gameria';
  src: url("./fonts/gameria.ttf");
  font-weight: bold;
}
@font-face {
  font-family: 'zillmu';
  src: url("./fonts/ZillMU.ttf");
  font-weight: normal;
}

:root{
  --color1: #012A4A;
  --color2: #013A63;
  --color3: #01497C;
  --color4: #014F86;
  --color5: #2A6F97;
  --color6: #2C7DA0;
  --color7: #468FAF;
  --color8: #61A5C2;
  --color9: #89C2D9;
  --color10: #A9D6E5;
  --color11: #cae9ff;
  --color12: #FFC107;
  --color13: #AF1763;
  --color14: #0DCAF0;
}

* {
  box-sizing: border-box;
  font-family: "zillmu";
  font-size: 1em;
  font-weight: 500;
  color: var(--color11);
}

html, body {
  background-color: var(--color1);
  margin: 0;
}

body{
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 100px auto 30px;
  width: 100dvw;
  height: 100dvh;
  /* overflow: clip; */
  
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-image: url("./images/bg.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

button {
  background-color: transparent;
  border: 3px solid var(--color10);
  cursor: pointer;
  padding: 10px 20px;
}

.homeBtn{
  position: absolute;
  top: 10px;
  right: 10px;
  width: fit-content;
  height: fit-content;
  z-index: 1;
}

.homeBtn img{
  width: 30px;
}

.homeBtn img:hover{
  filter: invert(0.3);
  transition: all 0.5s ease;
}

button:hover {
  background-color: var(--color10);
  color: var(--color1);
  transition: all 0.5s ease;
}

button:active {
  font-size: 0.9em;
  transition: none;
}

#header{
  display: grid;
  justify-items: center;
  z-index: 1;
}

h1{
  font-family: gameria, sans-serif;
  font-size: 5em;
  padding: 0;
  padding-top: 10px;
  margin: 0;
  margin-top: 5px;
}

#content{
  display: grid;
  overflow: scroll;
  z-index: 1;
}

#content #container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#container h3{
  font-family: gameria, sans-serif;
  font-size: 3em;
  margin: 10px 0 0 0;
}

.newGameContainer{
  /* border: 1px solid red; */
  width: 80dvw;
  height: 50dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newGameContainer h2{
  font-family: gameria, sans-serif;
  font-size: 5em;
  margin: 0;
  margin-bottom: 20px;
}

.newGameBtn{
  font-size: 2em;
  width: 200px;
  margin: 0 20px;
}

.gameBoardContainer{
  /* border: 1px solid yellow; */
  height: 70dvh;
  width: 80dvw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.gameBoard, .shipBoard{
  /* border: 1px solid red; */
  height: 35dvh;
  width: auto;
  aspect-ratio: 1/1;
}
.gameBoard{
  display: flex;
  flex-wrap: wrap;
}
.shipBoard{
  display: grid;
  grid-template-rows: auto 50px;
}
.shipList{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}

.shipContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.shipContainer:nth-child(1), .shipContainer:nth-child(2), .shipContainer:nth-child(3) {
  width: 33.3%;
  height: 50%;
}
.shipContainer:nth-child(4), .shipContainer:nth-child(5) {
  width: 50%;
  height: 50%;
}
.ship0-preview, .ship1-preview, .ship2-preview, .ship3-preview, .ship4-preview  {
  height: 20px;
  margin: 3px;
}

.ship0 {
  background-color: orange;
}
.ship0-preview{
  width: 40px;
}
.ship1 {
  background-color: yellow;
}
.ship1-preview{
  width: 60px;
}
.ship2 {
  background-color: violet;
}
.ship2-preview{
  width: 60px;
}
.ship3 {
  background-color: blue;
}
.ship3-preview{
  width: 80px;
}
.ship4 {
  background-color: cyan;
}
.ship4-preview{
  width: 100px;
}

.shipContainer .rotated{
  rotate: 90deg;
}

.grid{
  border: 1px solid black;
  height: 10%;
  width: auto;
  aspect-ratio: 1/1;
}

#footer {
  font-family: "lato";
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
  z-index: 9;
}
#footer a{
  font-family: "lato";
}
#footer a:link { 
  text-decoration: none; 
} 
#footer a:visited { 
  text-decoration: none; 
} 
#footer a:hover { 
  text-decoration: none; 
} 
#footer a:active { 
  text-decoration: none; 
}


/* for desktop screen */
@media only screen and (min-width: 800px) {
  h1{
    padding-top: 0;
    font-size: 7em;
  }
  .gameBoard, .shipBoard{
    width: 30dvw;
    max-width: 500px;
    height: auto;
    aspect-ratio: 1/1;
  }
  .grid{
    width: 10%;
    height: auto;
  }
}