#allcontainer {
  display: flex;
  max-width: 100%;
}

#label{
  margin-left: 20px;
}

#container {
  display: flex;
  text-align: center;
  aspect-ratio: 1;
  height: 98dvh;
  flex-wrap: wrap;
  border: 1px solid black;
}