@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
  --color1: #353432;
  --color1a: #4A4947;
  --color2: #B17457;
  --color3: #D8D2C2;
  --color4: #FAF7F0;
}

* {
  box-sizing: border-box;
  font-family: "Lato";
  font-size: 1em;
  font-weight: 500;
  color: var(--color4);
}

html, body {
  background-color: var(--color1);
  width: 100%;
  height: 100%;
  margin: 0;
}

body{
  display: grid;
  grid-template-columns: 25% 75%;
}

input {
  background-color: transparent;
  outline: none;
  padding: 5px;
}

button {
  background-color: transparent;
  border: none;
}

#submitTask{
  background-color: var(--color2);
  height: 35px;
  text-transform: uppercase;
  font-weight: 700;
}

#submitTask:hover{
  background-color: var(--color1a);
}

button img {
  height: 20px;
}

select, option {
  background-color: transparent;
}

textarea{
  resize: none;
  background-color: transparent;
  padding: 5px;
}

#container {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template-columns: 55px auto;
}

#sidebar {
  height: 100dvh;
  display: grid;
  grid-auto-flow: row;
  align-content: start;
  background-color: var(--color1a);
  overflow: scroll;
}

#sidebar .userinfo{
  width: 55px;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
}

#sidebar .userinfo img{
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 20px 0;
  border: 3px solid var(--color4);
}

#sidebar .userinfo p {
  font-weight: 800;
  font-size: 1.2em;
}

#navbtn {
  display: grid;
  height: 500px;
  padding: 0 10px;
}

#navbtn button{
  width: 100px;
  height: 50px;
  margin: 5px;
  background-color: transparent;
  text-align: center;
  border: none;
  font-weight: 700;
  border-bottom: 1px solid var(--color4);
  transform: rotate(-90deg);
  translate: -40px 60px;
  /* transform-origin: 25% 100%; */
}

#navbtn button:hover{
  background-color: var(--color1);
}

#navbtn .active{
  background-color: var(--color2);
}

#content {
  background-color: var(--color1);
  overflow: scroll;
  margin-bottom: 35px;
  padding-bottom: 5px;
}

#taskdialog{
  background-color: var(--color1);
  width: 90dvw;
  height: 90dvh;
  display: grid;
  align-items: center;
}
  
#taskdialog #taskform{
  display: grid;
  grid-auto-flow: row;
}

#content .contentTitle h1{
  font-size: 1.3em;
  text-align: center;
  font-weight: 900;
  margin: 0;
  margin-top: 40px;
}

#content .contentTitle h2{
  font-size: 1.1em;
  text-align: center;
  font-weight: 700;
  margin: 0;
}

#content #addTask{
  display: grid;
  justify-content: left;
  width: 100%;
}

#content #addTaskForm, #taskdialog #taskform{
  width: 85dvw;
  display: grid;
  align-items: baseline;
  padding: 20px;
}

#content #Title_id,
#content #Description_id,
#content #Duedate_id{
  margin: 20px 0 5px 0;
}

#content #addTaskForm #categoryselection_div, #taskdialog #taskform #categoryselection_div{
  display: grid;
  grid-template-columns: auto 30px;
  grid-template-rows: auto auto;
}

#content #addTaskForm #categoryselection_list, #taskdialog #taskform #categoryselection_list{
  grid-column: 1/3;
  margin-top: 10px;
}

#content #addTaskForm #categoryselection_div button{
  align-self: self-end;
  background-color: var(--color2);
}

#content #addTaskForm #categoryselection_div button:hover{
  background-color: var(--color1a);
}

#content textarea{
  height: 40dvh;
}

.category_options {
  background-color: var(--color1a);
  border: none;
}

#content .todaydiv, #content .alltaskdiv, #content .upcomingdiv{
  padding: 5px 20px;
  display: grid;
  grid-auto-flow: row;
}

#content .categoriesdiv{
  background-color: var(--color1a);
  border: 2px solid var(--color1a);
  display: grid;
  margin: 20px 0;
}

#content .categoriesdiv h1{
  font-size: 1.3em;
  font-weight: 800;
  padding-left: 20px;
  margin: 0;
  margin: 5px 0;
}

#content .categoriesdiv .taskdiv{
  background-color: var(--color1);
  display: grid;
  grid-template-columns: auto 80px 70px 90px;
  grid-template-rows: auto auto;
  row-gap: 5px;
  align-items: start;
  margin-top: 3px;
  padding: 10px 30px;
}

#content .categoriesdiv span{
  text-align: center;
}

#content .categoriesdiv .taskdiv .taskActionButton{
  text-align: right;
}

#content #priority_div{
  margin: 20px 0;
  display: grid;
  grid-template-columns: auto 30px 60px 30px 60px 30px 60px;
  column-gap: 10px;
  align-items: center;
}

#content .categoriesdiv .highpriority{
  background-color: rgba(100,0,0,30%);
}

#content .categoriesdiv .normalpriority{
  background-color: rgba(0,0,100,40%);
}

#content .categoriesdiv .lowpriority{
  background-color: rgba(0,100,0,25%);
}

#content .categoriesdiv .completed{
  background-color: black;
}

#content .categoriesdiv .completed *{
  color: rgb(70, 70, 70);
}

#content .categoriesdiv .completed button{
  color: var(--color4);
}

#content .categoriesdiv .taskdiv p{
  margin: 0;
  font-size: 1.1em;
  font-weight: 700;
}

#content .categoriesdiv .taskdiv .description{
  grid-column: 1 / span 4;
  text-align: justify;
  text-justify: inter-word;
  white-space: pre-wrap;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35px;
  background-color: var(--color2);
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
  z-index: 9;
}

/* for desktop screen */
@media only screen and (min-width: 1024px) {
}