@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'norsebold';
  src: url('assets/signup/Norse-Bold.otf');
  font-weight: bold;
}

:root{
  --color1: #191c24;
  --color1a: #14161b;
  --color2: #0D6EFD;
  --color2a: #1258c0;
  --color3: #FFC107;
  --color4: #AF1763;
  --color5: #0DCAF0;
}

* {
  box-sizing: border-box;
  font-family: "Roboto";
  font-size: 1em;
  font-weight: 500;
  color: white;
}

html, body {
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
}

dialog{
  padding: 0;
}

dialog form{
  margin: 0;
  width: 80dvw;
  max-width: 400px;
  height: 50dvh;
  background-color: #151719;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

dialog form label{
  padding: 0;
  margin: 0;
  display: grid;
  align-self: self-end;
}

dialog form input{
  border: none;
  border-bottom: 2px solid;
  background-color: transparent;
  min-width: 250px;
  height: 50px;
}

dialog form input:focus, dialog form input:hover{
  background-color: var(--color1);
  outline: none;
}

dialog form button{
  background-color: var(--color2);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  min-width: 250px;
  height: 50px;
}

dialog form button:hover{
  background-color: var(--color2a);
}

dialog form button:active{
  background-color: var(--color2a);
  font-size: 0.9em;
}

.container{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 95dvh;
  min-height: 500px;
  grid-template-rows: 25% 50% 25%;
}

#topheader, #board, #bottomfooter{
  display: grid;
  justify-items: center;
  padding: 20px;
}

#topheader{
  background-color: var(--color2);;
  align-self: start;
}

#board{
  background-color: var(--color1);
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template: 30% 30% 30% / 30% 30% 30%;
  width: 80dvw;
  max-width: 70vh;
  height: auto;
  max-height: 70vh;
  aspect-ratio: 1/1;
}

#board .startbutton {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-row: 2;
  grid-column: 1/4;
  width: 100%;
}

#board button {
  border: 1px solid var(--color3);
  background-color: var(--color1);
  width: 30dvw;
  max-width: 400px;
  height: 100%;
  font-size: 2em;
}

#board button:hover {
  background-color: var(--color1a);
}

#board button:active {
  font-size: 1em;
}

#board .cells {
  height: 100%;
  width: aut0;
  aspect-ratio: 1/1;
  display: grid;
  justify-items: center;
  align-items: center;
}

#board .cells:hover {
  background-color: var(--color1a);
}

#board #cell-2, #board #cell-5, #board #cell-8 {
  border-left: 5px solid var(--color2);
  border-right: 5px solid var(--color2);
}
#board #cell-4, #board #cell-5, #board #cell-6 {
  border-top: 5px solid var(--color2);
  border-bottom: 5px solid var(--color2);
}

#board .circle {
  height: auto;
  width: 8vw;
  max-width: 9em;
  border-radius: 50%;
  aspect-ratio: 1/1;
  border: 25px solid blue;
}

.cross {
  height: auto;
  width: 8vw;
  max-width: 9em;
  aspect-ratio: 1/1;
  position: relative;
  transform: rotate(45deg);
}

.cross:before, .cross:after{
  content: "";
  position: absolute;
  background-color: red;
}

.cross:before{
  left: 50%;
  width: 30%;
  height: 100%;
  margin-left: -15%;
}

.cross:after{
  top: 50%;
  height: 30%;
  width: 100%;
  margin-top: -15%;
}

#bottomfooter{
  border: 1px solid var(--color2);
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  align-self: end;
}

#bottomfooter button {
  border: none;
  border-radius: 5px;
  background-color: var(--color2);
  height: 30px;
  width: 100px;
}

#bottomfooter button:hover {
  background-color: var(--color2a);
}

#bottomfooter button:active {
  background-color: var(--color2a);
  font-size: 0.9em;
}
